form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.formControl {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.formControl input {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  padding: 8px 10px;
}
.formControl input:focus {
  border: 2px solid #7c3aed;
}
form button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 15px;
  color: #fff;
  background-color: #7c3aed;
  margin-top: 10px;
}
