.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #fff;
}
.item button {
  border-radius: 5px;
  border: 1px solid #dc2626;
  cursor: pointer;
  color: #dc2626;
  padding: 5px 10px;
  outline: none;
  background-color: #fff;
}
.item img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
