.listWrapper {
  display: flex;
  justify-content: center;
}

.contactList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.contactHeader button {
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: #fff;
  padding: 6px 20px;
  outline: none;
  background-color: #7c3aed;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  min-width: 30rem;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #fff;
}
.item .deleteBtn,
.item .editBtn {
  border-radius: 5px;
  border: 1px solid #dc2626;
  cursor: pointer;
  color: #dc2626;
  padding: 5px 10px;
  outline: none;
  background-color: #fff;
  margin-right: 10px;
}
.item img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 8px;
}

.itemContacts {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #000;
}
.item .editBtn {
  border: 1px solid #7c3aed;
  color: #7c3aed;
  background-color: #fff;
}
